{% extends 'base.html' %}

{% block content %}
<body>
  <h1 class='title'>{% block title %} Au sujet {% endblock %} de l'application notes.</h1>
  <hr>
<br/>

<div class="container is-fluid">

<div class="columns">
<div class="column">
<h2 class="subtitle is-2"> Quelles fonctionnalités? </h2>

<ol type="1">
  <li> Liste des notes </li>
  <ol type="1">
    <li> Editer une note </li>
    <li> Suprimer une note</li>
  <li> Ajout d'une note </li>
  <li> Rechercher des notes </li>
  <ol type="A">
    <li> par Titre </li>
    <li> par Auteur</li>
  </ol>

  <li> Connection utilisateur </li>
  <li> Enregistrer un utilisateur </li>
  <li> Explication</li>

</ol>
</div>

<div class="column">
<h2 class="subtitle is-2"> Quels outils? </h2>

<ol type="1">
  <li> Pour l'interface</li>
  <ol type="1">
  <li> HTML </li>
  <li>  CSS
    <ol type="A">
      <li>Framework <a href="https://bulma.io/">Bulma</a></li>
      <li>Responsive CSS <a href="https://www.adam-bray.com/2018/04/03/responsive-bulma-css-navigation-bar/">Navigation Bar</a> pour Bulma</li>
      <li>Responsive CSS <a href="https://justboil.github.io/bulma-responsive-tables/">tables</a> pour Bulma</li>
    </ol>
  <li> Javascript </li>
  </ol>
  <li>Pour la partie serveur</li>
   <ol type="A">
  <li> Python </li>
    <li> flask & flask-session</li>
    <li> jinja2 </li>
  <li> Sqlite </li>
  </ol>
</ol>
<br/>
</div>
</div>
</div>
<hr>
</body>
{% include 'footer.html' %}
{% endblock %}
