{% extends 'base.html' %}

{% block content %}
<body>
    <h1 class='title is-2'>{% block title %} Ajout {% endblock %} d'une note  </h1>

    <hr>

<center>
<h2 class="subtitle is-4"> Saisissez votre note</h2>

<form action="/ajoutnote" method="post">
  <div class="form-group">
    <label for="titre">Titre:</label> <br/>
    <input type="text" name="titre"
                   placeholder="Le Titre" class="form-control"
                   value="{{ request.form['titre'] }}"></input>
  </div>
  <div class="form-group">
    <label for="createur">Createur:</label> <br/>
    <input type="text" name="createur"
                   placeholder="Le Titre" class="form-control"
                   value="{{ request.form['createur'] }}"></input>
  </div>
  <div class="form-group">
    <label for="corps">Contenu de la note:</label> <br/>
    <textarea name="corps" placeholder="Saisissez la note" rows="5" cols="50"
                  class="form-control"> {{ request.form['corps'] }}</textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Sauver</button>
  </div>

</form>
</center>
<hr>

</body>
{% endblock %}
