<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bulma CSS -->
     <link rel="stylesheet" href="{{url_for('static', filename='css/bulma.css')}}">
     <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
     <!-- oldstyle CSS -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <!--
    Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
    <style type="text/css">
    h1.title, h3.subtitle {
      text-align: center;
    }
    h1.title {
      font-weight: 900;
    }
    .is-main h1.title {
      font-size: 3rem;
    }
    .is-main h3.subtitle {
      font-size: 2rem;
    }
    footer.footer .logo img {
      max-height: 30px;
      width: auto;
    }
  </style>

  <title>{% block title %} {% endblock %}</title>
  </head>

<br/>

{% include 'menu.html' %}

<div class="container">
        {% for message in get_flashed_messages() %}
            <div class="message.is-warning message-body">{{ message }}</div>
        {% endfor %}
<br/>
        {% block content %} {% endblock %}
</div>

</html>
