{% extends 'base.html' %}
{% block title %}  Connection  {% endblock %}
{% block content %}
<body {% if action == "clear" %}  onload=clearnom(); {% endif %} >

<hr>

{% if action == "message" %}

<center>
  <h1 class='title'> Information </h1>
<h2 class="subtitle is-2">Bonjour vous n'etes pas connecté à votre Utilisateur </h2>

Connectez vous par le choix connection si vous avez une utilisateur, sinon enregistrez-vous .
</center>
{% else %}

<center>
<h1 class='title'> Connection</h1>
<h2 class="subtitile is-3"> Saisissez votre nom </h2>
  <hr>

<form onsubmit="save_data()" action="/login" method="get">
  <input type="text" id="message" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>

</center>
{% endif %}
<hr>

</body>
{% endblock %}
