{% extends 'base.html' %}

{% block content %}
<body  onload=clearnom(); >

<h1 class='title'> {% block title %} Changement {% endblock %} de l'Utilisateur  </h1>
<hr>

  <center>

<h2 class="subtitile is-3"> Saisissez votre nom </h2>
  <hr>

<form onsubmit="save_data()" action="/login" method="get">
  <input type="text" id="message" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>

</center>
<hr>

</body>
{% endblock %}
