

<nav class="navbar" role="navigation" aria-label="main navigation">
   <div class="navbar-brand">
     <a class="navbar-item" href="https://boizot.ch">
       <img src="https://boizot.ch/img/pierre.jpg" width="28" height="28">
     </a>

     <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
     </a>
   </div>

   <div id="navbarBasicExample" class="navbar-menu">
     <div class="navbar-start">
       <a class="navbar-item" href="{{ url_for('homepage')}}">Accueil</a>
       <a class="navbar-item" href="{{url_for('notes')}}">Lister</a>
       <a class="navbar-item" href="{{url_for('addnotes')}}">Ajouter</a>
       <a class="navbar-item" href="{{url_for('chercher')}}">Chercher par Titre</a>
       <a class="navbar-item" href="{{url_for('cheruser')}}">Chercher par Créateur </a>
       {% if session['logged_in'] %}
       <a class="navbar-item  is-active" href="#"">Connection</a>
       <a class="navbar-item" href="{{url_for('logout')}}"">De-connection</a>
       {% else %}
       <a class="navbar-item " href="{{url_for('clear')}}"">Connection</a>
       <a class="navbar-item is-active" href="#">De-connection</a>
       {% endif%}
       <a class="navbar-item" href="{{url_for('register')}}"">Enregistrement</a>
       <a class="navbar-item" href="{{url_for('about')}}">Au sujet</a>
     </div>
   </div>

 </nav>

 <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);

        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
