

<nav class="navbar" role="navigation" aria-label="main navigation">
   <div class="navbar-brand">
     <a class="navbar-item" href="https://boizot.ch">
       <img src="https://boizot.ch/img/pierre.jpg" width="28" height="28">
     </a>

     <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
     </a>
   </div>

   <div id="navbarBasicExample" class="navbar-menu">
     <div class="navbar-start">
       <a class="navbar-item" href="{{ url_for('homepage')}}">Accueil</a>
       <div class="navbar-item has-dropdown is-hoverable">

         <a class="navbar-link">
            Notes
         </a>
      {% if session['logged_in'] %}
       <div class="navbar-dropdown">
       <a class="navbar-item" href="{{url_for('notes')}}">Lister</a>
       <a class="navbar-item" href="{{url_for('addnotes')}}">Ajouter</a>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
         Recherche
      </a>

      <div class="navbar-dropdown">
        <a class="navbar-item" href="{{url_for('chercher')}}">par Titre</a>
        <a class="navbar-item" href="{{url_for('cheruser')}}">par Créateur </a>
      </div>
    </div>
  </div>
  {% else %}
  <div class="navbar-dropdown">
  <a class="navbar-item" href="#">Lister</a>
  <a class="navbar-item" href="#">Ajouter</a>

<div class="navbar-item has-dropdown is-hoverable ">
 <a class="navbar-link">
    Recherche
 </a>

 <div class="navbar-dropdown">
   <a class="navbar-item" href="#">par Titre</a>
   <a class="navbar-item" href="#">par Créateur </a>
 </div>
</div>
</div>

{% endif%}

</div>


       <div class="navbar-item has-dropdown is-hoverable">
         <a class="navbar-link">
            Gestion connexion
         </a>
         <div class="navbar-dropdown">

 {% if session['logged_in'] %}

           <a class="navbar-item  " href="#">Connection</a>
           <a class="navbar-item is-active" href="{{url_for('logout')}}"">De-connection</a>
           <a class="navbar-item" href="#">Enregistrement</a>

{% else %}
          <a class="navbar-item is-active" href="{{url_for('clear')}}"">Connection</a>
          <a class="navbar-item " href="#">De-connection</a>
          <a class="navbar-item is-active" href="{{url_for('register')}}"">Enregistrement</a>
 {% endif%}

        </div>

      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
           Doc
        </a>
        <div class="navbar-dropdown">
       <a class="navbar-item" href="{{url_for('about')}}">Au sujet</a>
       <a class="navbar-item" href="{{url_for('readme')}}">Readme</a>
    </div>
    </div>
     </div>
   </div>

 </nav>

 <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);

        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
