{% extends 'base.html' %}

{% block content %}
<body>

<h1 class='title'> Voici mes {% block title %}  notes {% endblock %}</h1>
<hr>
<section class="section">
  <div class="container">
          <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
              <table class="table is-fullwidth is-striped is-hoverable is-fullwidth"">
                <thead>
                <tr>
                  <th></th>
                  <th>Numéro</th>
                  <th>Titre</th>
                  <th>Corps</th>
                  <th>Création</th>
                  <th>Modification</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>

                  {% for post in posts %}
                  <tr>
                    <td></td>
            <td data-label="Numéro"> <a href="{{ url_for('post', post_id=post['id']) }}">{{post['id']}} </td>
            <td data-label="Titre">{{ post['titre'] }}</td>
            {% set titolo = post['corps'] %}
            <td data-label="Titre">{{ titolo[:50] }}</td>
            <td data-label="Création">{{ post['creation'] }}</td>
            <td data-label="Modification">{{ post['modif'] }}</td>
            <td> </td>

          </tr>
                  {% endfor %}
              </tbody>

              </table>
            </div>
          </div>
        </div>
  </section>

<hr>
</body>
{% endblock %}
