{% extends 'base.html' %}

{% block content %}
<body>
<h1 class='title'> {% block title %} Rechercher {% endblock %} les notes  </h1>
<hr>
{% if query == "titre" %}
<center>
<h2 class='subtitle is-2'> par titre </h2>
<h2 class="subtitile is-3"> Saisissez votre recherche </h2>
<hr>
<form action="/rechercher" method="get">
  <input type="text" id="message" name="titre" value="*" required maxlength="15" size="16">
  <input type="submit" value="Rechercher!">
</form>
</center>
<hr>
{% endif %}
{% if query == "user" %}
  <center>
<h2 class='subtitle is-2'> par auteurs </h2>
<h2 class="subtitile is-3"> Saisissez l'utilisateur </h2>
  <hr>

<form action="/recheruser" method="get">
  <input type="text" id="message" name="user" value="*" required maxlength="15" size="16">
  <input type="submit" value="Rechercher!">
</form>
</center>
<hr>

{% endif %}
</body>
{% endblock %}
