.deco {
  font-size: 20px;
  font-family: Arial;
  color: white ;
  background-color: black;
  text-align: center;
}

#ajout{
  background-color: black;
}
#Letexte {
  font-size: 24px;
}
#bu1 {
  color: Blue;
}

#bu2 {
  color: Green;
}

#bu3 {
  color: Red;
}

#name {
  font-size: 48px;
  text-align: center;
}
#bonjour {
  font-size: 48px;
  text-align: center;
}
.titre {
  color: white;
}
h1 {
 text-align: center;
 color: white;
 background-color: black;
}

h2 {
  color: green;
  text-emphasis-style: circle;
}
p {
  background-color: white;
  color: black;
}
p.corps {
  width: 50em;
  border: 1px solid #000000;
  word-wrap: break-word;
}
p.titre {
  width: 15em;
  border: 2px solid #000000;
  word-wrap: break-word;
  color: Blue;
  font-size: 16px;
}
.navigation{
  text-align: right;
}

.menu-lien{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 50px;
  height: 15px;
  color: blue
}

#adress{
  text-align: center;
}
